# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.pdb
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.GlobalUsings.g.cs
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.genruntimeconfig.cache
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.csproj.FileListAbsolute.txt
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.csproj.AssemblyReference.cache
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.assets.cache
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.AssemblyInfoInputs.cache
obj/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.AssemblyInfo.cs
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/C#-Implementation-For-Server-Updated-Application.csproj.nuget.g.targets
obj/C#-Implementation-For-Server-Updated-Application.csproj.nuget.g.props
obj/C#-Implementation-For-Server-Updated-Application.csproj.nuget.dgspec.json
C#-Implementation-For-Server-Updated-Application.csproj
bin/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.runtimeconfig.json
bin/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.pdb
bin/Debug/net6.0/C#-Implementation-For-Server-Updated-Application.deps.json
